/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-image:url("/../Images/blue_tile.png");
   
     /*USED THANKS TO LICENSE
        http://creativecommons.org/licenses/by-sa/3.0/legalcode
    */

    background-repeat:repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        height:auto;
    }
    .body-content {

        padding: 0;
    }
}

h2
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#55660F;
    font-size:2em;
    margin-top:0;
}